@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

/* <uniquifier>: Use a unique and descriptive class name 
 <weight>: Use a value from 400 to 700 */

/* .cabin-uniquifier {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* Variables */
:root {
  --font-stack: "Cabin", sans-serif;
  --primary-color: #FFFAFA;
  --secondary-color: #FDF5E6;
  --neutral-color: #42210B;
}

/* Reset All Styles */
* {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body { 
  color: #2F2928;
  background-color: var(--primary-color); 
}
a, p { 
  color: #2F2928;
  font-size: 17px; 
}

/* Center Items */
.container {
  padding: 1rem;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1100px;
}

/* Margins */
.m { margin: 0.5rem; }
.m-2 { margin: 1rem; }
.my { margin: 0.5rem 0; }
.my-1 { margin: 1rem 0; }
.mb { margin-bottom: 0.5rem; }
.mb-1 { margin-bottom: 1rem; }

/* Images Size */
img { max-width: 100%; }

/* Buttons Style */
.btn {
  width: 100%;
  height: 100%;
  margin: 2rem 0;
  text-align: center;
  border-radius: 12rem;
  padding: 0.8rem 1.8rem;
}

.btn-primary {
  background-color: var(--neutral-color);
  color: var(--primary-color);
}

/* Top Navigation Bar  */
.header {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.header .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

/* Main Hero Section */
.showcase {
  background-color: var(--secondary-color);
  padding: 2.5rem 0;
}

.hero-content {
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  gap: 5em;
}

.hero-content img {
  width: 45%;
}

/* Featured Product */
.products {
  text-align: center;
}

.product-content .main-text {
  padding: 4rem 0;
}

.card-row {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.card-row .card-col > img {
  width: 240px;
  height: 280px;
}

/* Newsletter */
.newsletter {
  margin-top: 5rem;
  padding: 1rem 0;
  background-color: var(--secondary-color);
}

.newsletter .content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.newsletter-form {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1em;
}

.newsletter-form input {
  width: 320px;
  padding: 1rem;
  border-radius: 0.8rem;
  border: none;
}

/* Footer */
.footer {
  background-color: var(--neutral-color);
  color: var(--primary-color);
  padding: 2rem 0;
}

.footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content .social-source{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.social-source a {
  color: var(--primary-color);
  font-size: 2rem;
}